.form-wrapper {
   @media (max-width: 760px) {
      position: relative;
      top: 32px;
   }

   @media (max-width: 620px) {
      top: -8px;
   }
}

.form {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding: 0 40px;
   background-color: #fff;
   border-radius: 20px;

   @media (min-width: 1500px) {
      margin: 0 60px;
   }

   @media (max-width: 851px) {
      padding: 20px 50px 0 40px;
   }
}

.identity-fields,
.address-fields {
   display: flex;
   flex-direction: column;
   min-width: 45%;
   margin: 20px auto;
   padding: 6px;

   @media (max-width: 953px) {
      min-width: 100%;
      margin: auto;
   }
}

.fields {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 18px 0;

   @media (max-width: 953px) {
      flex-wrap: wrap;
      min-width: 100%;
      margin: auto;
   }
}

.status-fields {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   margin: 2.5%;

   @media (max-width: 953px) {
      margin-left: 7px;
      margin-right: -5px;
      padding: 20px 0 10px;
   }
}

.fields .css-1o883tc-MuiStack-root,
.fields .css-1w9br1e-MuiStack-root {
   min-width: 47.5%;
   padding-right: 6px;

   @media (max-width: 953px) {
      min-width: 100%;
      padding-right: inherit;
   }
}

.fields .MuiBox-root {
   min-width: 47.5%;
   padding-left: 6px;

   @media (max-width: 953px) {
      min-width: 100%;
      margin: 25px 0;
      padding-left: inherit;
   }
}

.fields .css-1d1tey9 {
   min-width: 47.5%;

   @media (max-width: 953px) {
      min-width: 100%;
   }
}
