#society-name {
   position: absolute;
   left: 179px;

   @media (max-width: 660px) {
      display: flex;
      justify-content: flex-end;
      top: -7px;
      right: 0;
      text-align: right;
   }
}

#dashboard-name {
   position: absolute;
   right: 10px;

   @media (max-width: 660px) {
      display: flex;
      justify-content: flex-end;
      top: 65px;
      right: 0;
   }
}
