.navigation {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 130px;
   text-align: center;
}

.nav-link {
   width: min-content;
   margin: 10px 0;
   padding: 15px 34px 15px 33px;
   letter-spacing: 0.6px;
   text-decoration: none;
   color: #435500;

   &.home.active,
   &.employees.active {
      width: inherit;
      margin-right: -7px;
      color: #fff;
      background: #596e07;
      border-radius: 4px;
   }
}
