.navigation {
   display: flex;
   flex-direction: column;
   position: relative;
   top: -60px;
   width: 130px;
   align-items: center;
   text-align: center;
}

.nav-link {
   width: min-content;
   padding: 15px 34px 15px 33px;
   text-decoration: none;
   color: #435500;

   &.home.active,
   &.employees.active {
      width: inherit;
      margin-right: -3px;
      border-right: 3px solid #596e07;
      font-weight: bold;
      color: #d2ddad;
      background: #344201;
   }
}
