.search-bar {
   display: flex;
   justify-content: end;
   margin: 0 12px;
}

#Search {
   width: 320px;
   border-style: groove;
   border-radius: 5px;
   font-size: 16px;
   text-transform: uppercase;
   cursor: pointer;
}
