.table-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 113px 0 60px;
   text-transform: uppercase;
}

// Row color in the table
.MuiDataGrid-row:nth-child(odd) {
   background: #fff;
}
.MuiDataGrid-row:nth-child(even) {
   background: #6f85090f;
}

// Text in table header
.MuiDataGrid-columnHeaderTitle.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
   font-weight: bold;
}

// Icon color in table header
.css-ptiqhd-MuiSvgIcon-root {
   color: #fff;
}

.css-204u17-MuiDataGrid-main {
   border-radius: 5px;
}
