.modal {
   position: relative;
   width: 324px;
   margin: 9px 5%;
   padding: 8px 28px;
   background-color: #f9fbf4;
   border: 1px solid #6f8509;
}

.modal-close-btn {
   top: -10px;
   left: 287px;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 0.6px;
   color: #435500;
}

.modal-text {
   position: relative;
   top: 2px;
   left: -24px;
   font-size: 17px;
   letter-spacing: 0.6px;
   color: #435500;
}
