.employees-page {
   margin: 42px 80px;
}

.employees-page .header {
   @media (min-width: 1655px) {
      max-width: 1480px;
      margin: auto;
      margin-bottom: -21px;
   }
}

.employees-page .subtitle {
   width: 55%;
   top: 23px;
   left: 32px;
   color: #fff;

   @media (max-width: 595px) {
      top: 13px;
   }
}

.employees-page .navigation {
   position: relative;
   text-align: end;
   //    top: 64px;
   top: 144px;
   padding: 20px;
   border: 1px solid #43550063;
   border-radius: 20px 20px 0 0;
   background-color: #435500;

   @media (min-width: 1655px) {
      max-width: 1434px;
      margin: auto;
   }
}

.employees-page .main {
   max-width: 1479px;
   margin: auto;
}

.employees-page #dashboard-name {
   @media (max-width: 690px) {
      display: flex;
      justify-content: flex-end;
      top: 65px;
      right: 0;
   }
}
