.page {
   margin: 41px 140px;

   @media (max-width: 851px) {
      margin: 80px 60px;
   }

   @media (max-width: 575px) {
      margin: 80px 30px;
   }
}

.title {
   font-size: 24px;
}

.subtitle {
   position: relative;
   top: 64px;
   left: 63px;
   margin: 0;
   font-size: 18px;
   color: #000;
}
