body {
  font-family: "Supra Rounded", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1,
h2 {
  letter-spacing: 1.5px;
  color: #2a3500;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 16px;
  letter-spacing: 0.8px;
}

label {
  letter-spacing: 1.5px;
}

body {
  font-family: "Supra Rounded", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h1,
h2 {
  letter-spacing: 1.5px;
  color: #2a3500;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 16px;
  letter-spacing: 0.8px;
}

label {
  letter-spacing: 1.5px;
}

.form-wrapper {
  padding: 20px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(111, 133, 9, 0.3294117647);
  box-shadow: 6px 6px 5px rgba(111, 133, 9, 0.2392156863);
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 40px 40px 40px;
  border-radius: 0 0 20px 20px;
  border: 1px solid rgba(111, 133, 9, 0.3294117647);
  box-shadow: 6px 6px 5px rgba(111, 133, 9, 0.2392156863);
  justify-content: flex-start;
}

.identity-fields,
.address-fields {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-width: 45%;
  padding: 6px;
}
@media (max-width: 851px) {
  .identity-fields,
.address-fields {
    min-width: 100%;
  }
}

.fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 953px) {
  .fields {
    width: 100%;
    flex-wrap: wrap;
  }
}

.status-fields {
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 45%;
}
@media (max-width: 1400px) {
  .status-fields {
    width: 100%;
  }
}
@media (max-width: 851px) {
  .status-fields {
    margin: 40px auto;
    padding: 6px;
  }
}

.fields .css-1o883tc-MuiStack-root {
  min-width: 47.5%;
  padding-right: 6px;
}
@media (max-width: 953px) {
  .fields .css-1o883tc-MuiStack-root {
    min-width: 100%;
    padding-right: inherit;
  }
}

.fields .MuiBox-root {
  min-width: 47.5%;
  padding-left: 6px;
}
@media (max-width: 953px) {
  .fields .MuiBox-root {
    min-width: 100%;
    padding-left: inherit;
    margin: 7px 0;
  }
}

/* Employees page */
.table-main {
  margin: 80px;
}

.table {
  width: 1728px;
}

.MuiDataGrid-row:nth-child(odd) {
  background: #fff;
}

.MuiDataGrid-row:nth-child(even) {
  background: rgba(111, 133, 9, 0.0588235294);
}

.buttons {
  width: 100%;
  margin: 15px 2.5% 3px;
}
@media (max-width: 951px) {
  .buttons {
    margin: 40px 2.5% 3px;
  }
}
@media (max-width: 851px) {
  .buttons {
    margin-left: 5px;
  }
}

.submit-btn,
.reset-btn {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #596e07;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 5px 0px rgba(0, 0, 0, 0.1215686275);
  border-style: none;
  border: 1px dotted transparent;
}
.submit-btn:active,
.reset-btn:active {
  text-decoration: none;
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 10px 0px rgba(0, 0, 0, 0.1215686275);
}

.reset-btn {
  background-color: transparent;
  outline: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid #596e07;
  color: #596e07;
}
.reset-btn:active {
  background-color: #596e07;
  border: 1px solid #596e07;
}

.logo {
  height: 118px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation {
  position: relative;
  text-align: end;
  top: 45px;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgba(67, 85, 0, 0.3882352941);
  background-color: #435500;
}

.navigation-title {
  color: #d8f07d;
  font-style: italic;
  font-weight: bold;
}

.employees-list-link {
  border-radius: 10px;
  text-decoration: none;
  color: rgba(251, 255, 239, 0.9019607843);
  padding: 10px;
}
.employees-list-link:hover {
  background-color: #596e07;
  color: #fff;
}

#society-name {
  position: absolute;
  left: 179px;
}
@media (max-width: 660px) {
  #society-name {
    top: 7px;
    left: 188px;
  }
}

#dashboard-name {
  position: absolute;
  right: 10px;
}
@media (max-width: 660px) {
  #dashboard-name {
    top: 84px;
    right: 99px;
  }
}

.homepage {
  margin: 41px 140px;
}
@media (max-width: 851px) {
  .homepage {
    margin: 80px 60px;
  }
}
@media (max-width: 575px) {
  .homepage {
    margin: 80px 30px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
}

.subtitle {
  margin: 0;
  font-size: 18px;
  position: relative;
  color: #000;
  top: 64px;
  left: 63px;
}
/*# sourceMappingURL=main.css.map */