body {
   font-family: "Supra Rounded", sans-serif;
   text-transform: uppercase;
   font-weight: normal;
}

h1,
h2 {
   letter-spacing: 1.5px;
   color: #2a3500;
}

h2 {
   font-weight: normal;
}

h3 {
   font-size: 16px;
   letter-spacing: 0.8px;
}

label {
   letter-spacing: 1.5px;
}
