html {
   background-color: #e7eadd;
}

body {
   box-sizing: border-box;
   margin: 0;
   font-family: "Supra Rounded", sans-serif;
   text-transform: uppercase;
   font-weight: normal;
}

h1,
h2 {
   letter-spacing: 1px;
   color: #2a3500;
}

h2 {
   font-weight: normal;
}

h3 {
   font-size: 16px;
   letter-spacing: 0.5px;
}

label {
   letter-spacing: 1.5px;
}

input {
   cursor: pointer;
}

.page {
   display: flex;
   flex-direction: row;
   margin: 3rem 2rem;
   background-color: #fff;
   border-radius: 20px;
}

.page-wrapper {
   min-height: 824px;
   width: 100%;
   margin: auto;
   background-color: #fff;
   border-radius: 20px;
}

.main {
   margin: 0 40px;
   padding: 45px 0;
   background-color: #fff;
   border-radius: 20px;
}
